<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOME</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h2> Integração com o flask - Chamadaa </h2>
        <table style='border:true'>
            <tr>
                <th style='color:black'>Nome</th>
                <th style='color:red'>Matricula</th>
                <th style='color:red'>Presença</th>
            </tr>
            {% for nome, obj in alunos.items(): %}
            <tr>
                <td>
                    <p style='color:black'>{{nome}}</p>
                </td>
                <td>
                    <p style='color:red'>{{obj.matricula}}</p>
                </td>
                <td>
                    <p style='color:red'>{{obj.presencas}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form action="{{url_for('removeUser', nome=nome, type='DELETE')}}" method='POST'>
                        <input type="submit" value="Remover">
                    </form>
                    <form action="{{url_for('recordPresence', nome=nome)}}" method='POST' style="display:inline;">
                        <input type="submit" value="Registrar Presença">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        
    </br>
    <form action="{{url_for('chamada')}}" method='POST'>
        <input type="text" id="nome" name="nome" placeholder="Nome" required>
        <input type="number" id="matricula" name="matricula" placeholder="Matricula" required>
        <input type="submit" name='type' value="Adicionar">
    </form>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}
    
    </br>
    <a href="{{url_for('home')}}">home</a>   
    </body>
    
</html>